<configuration>

    <!-- Console Appender -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{dd/MMM/YYYY hh:mm:ss a} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- File Appender -->
    <appender name="FILE_SOUT" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/Logging.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>logs/Logging-%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>30</maxHistory>
            <totalSizeCap>3GB</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <pattern>%d{dd/MMM/YYYY hh:mm:ss a} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Root Logger -->
    <root level="INFO">
        <appender-ref ref="STDOUT" />
    </root>

    <!-- Custom Logger for Specific Package -->
    <logger name="com.aditya.Logging" level="TRACE" additivity="false">
        <appender-ref ref="FILE_SOUT" />
    </logger>

</configuration>
